# Dependencies
node_modules/
.next/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local development
.DS_Store
*.pem

# Build output
/build
/.next
/out

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local development
.env



# =========================
# Python / ML
# =========================

# Virtual environments
venv/
ml/venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Satellite and Secrets
.gee_credentials.json
ml/config/*.json
!ml/config/default_config.json

# ML Models
ml/models/**/*.h5
ml/models/**/*.pkl
ml/models/**/*.tflite
ml/test_images/

